<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CollegeAttendanceSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.college.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.college.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDashboardServlet</display-name>
    <servlet-name>StudentDashboardServlet</servlet-name>
    <servlet-class>com.college.servlets.StudentDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDashboardServlet</servlet-name>
    <url-pattern>/StudentDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.college.servlets.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDashboardServlet</display-name>
    <servlet-name>TeacherDashboardServlet</servlet-name>
    <servlet-class>com.college.servlets.TeacherDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDashboardServlet</servlet-name>
    <url-pattern>/TeacherDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeachersServlet</display-name>
    <servlet-name>ViewTeachersServlet</servlet-name>
    <servlet-class>com.college.servlets.ViewTeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeachersServlet</servlet-name>
    <url-pattern>/ViewTeachersServlet</url-pattern>
  </servlet-mapping>
</web-app>